body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button{
    padding: 5px 23px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,.5);
    color: azure;
    text-transform: uppercase;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
}